@model OnlineShoppingMVC.Models._Admin
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Agroxa - Responsive Bootstrap 4 Admin Dashboard</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <link rel="shortcut icon" href="/AdminAssets/images/favicon.ico">

    <link href="/AdminAssets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/AdminAssets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/AdminAssets/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/AdminAssets/plugins/toastr/toastr.min.css" rel="stylesheet" />
</head>

<body>

    <!-- Background -->
    <div class="account-pages"></div>
    <!-- Begin page -->
    <div class="wrapper-page">

        <div class="card">
            <div class="card-body">

                <h3 class="text-center m-0">
                    <a href="index.html" class="logo logo-admin"><img src="/AdminAssets/images/logo.png" height="30" alt="logo"></a>
                </h3>

                <div class="p-3">
                    <h4 class="text-muted font-18 m-b-5 text-center">Welcome Back !</h4>
                    <p class="text-muted text-center">Sign in to continue to Agroxa.</p>

                    <form class="form-horizontal m-t-30 " id="ginwanjo"  >

                        <div class="form-group">
                            <label for="username">Username</label>
                            
                            @Html.TextBoxFor(a => a.UserName, new { @class = "form-control", placeholder = "Enter UserName" })

                        </div>

                        <div class="form-group">
                            <label for="userpassword">Password</label>
                            @Html.TextBoxFor(a => a.Password, new { @class = "form-control", placeholder = "Enter Password" })
                        </div>

                        <div class="form-group row m-t-20">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customControlInline">
                                    <label class="custom-control-label" for="customControlInline">Remember me</label>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <input type="submit" value="Log In" form="ginwanjo" class="btn btn-primary w-md waves-effect waves-light" />

                            </div>
                        </div>

                        <div class="form-group m-t-10 mb-0 row">
                            <div class="col-12 m-t-20">
                                <a href='~/Admin/ForgetPassword' class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            <p class="text-white-50">Don't have an account ? <a href='~/Admin/RegistrationIndex' class="text-white"> Signup Now </a> </p>
            <p class="text-muted">© 2018 Agroxa. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
        </div>

    </div>
    <script src="/AdminAssets/js/jquery.min.js"></script>
    <!-- END wrapper -->
    <!-- jQuery  -->

    <script src="/AdminAssets/js/bootstrap.bundle.min.js"></script>
    <script src="/AdminAssets/js/jquery.slimscroll.js"></script>
    <script src="/AdminAssets/js/waves.min.js"></script>

    <script src="/AdminAssets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <
    <script src="~/AdminAssets/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/AdminAssets/jquery-validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/AdminAssets/plugins/toastr/toastr.min.js"></script>
    <!-- App js -->
    <script src="/AdminAssets/js/app.js"></script>
    <script>
        $(document).ready(function () {
            Login();
        });
        function Login() {
            $("#ginwanjo").submit(function (event) {
                event.preventDefault();
                var check = $(this).valid();
                if (!check) {
                    return false;
                } else {
                    var frmdata = new FormData(document.getElementById('ginwanjo'));
                    var email = $('#UserName').val();
                    debugger;
                    $.ajax({
                        type: 'Get',
                        url: "/Admin/LogIn",
                        processData: false,
                        contentType: false,
                        data: frmdata,
                        success: function (res) {
                            if (res == 1) {
                                toastr.error("Your UserName or Password Is incorrect");
                            }

                        }


                    });
                }
            });
        }
    </script>
</body>

</html>