
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-title-box">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="state-information d-none d-sm-block">
                    <div class="state-graph">
                        <div id="header-chart-1"></div>
                        <div class="info">Balance $ 2,317</div>
                    </div>
                    <div class="state-graph">
                        <div id="header-chart-2"></div>
                        <div class="info">Item Sold 1230</div>
                    </div>
                </div>

                <h4 class="page-title">Form Validation</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Agroxa</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                    <li class="breadcrumb-item active">Blog Form</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- end container-fluid -->

</div>
<!-- page-tiWtle-box -->

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card m-b-20">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalBlog">Add Blog</button>

                        <div id="FrmBlog"></div>

                    </div>
                    <div class="card-body">
                        <div id="DivPartial">


                        </div>
                    </div>
                </div>
            </div> <!-- end col -->


        </div> <!-- end row -->

    </div>
    <!-- end container-fluid -->
    @section script{
        <script>


            $(document).ready(function () {
                GetBlogForm();
                GetBlogList();
            });
            function GetBlogList() {
                $.ajax({
                    type: 'GET',
                    url: '/Blog/_GetBlog',
                    success: function (res) {
                        $('#DivPartial').html(res);
                        $('#datatable').DataTable();
                    }
                });
            }
            function GetBlogForm() {
                $.ajax({
                    type: 'GET',
                    url: '/Blog/GetBlogForm',
                    success: function (res) {
                        $('#FrmBlog').html(res);
                    }
                });
            }

            function EditBlog(ID) {
                $.ajax({
                    type: 'GET',
                    url: '/Blog/Update',
                    data: { BlogID: ID },
                    success: function (res) {
                        $('#FrmBlog').html(res);
                        $('#ModalBlog').modal('show');

                    }
                });

            }
            function DeleteBlog(ID) {
                $.ajax({
                    type: 'GET',
                    url: '/Blog/Delete',
                    data: { BlogID: ID },
                    success: function (res) {
                        if (res == 1) {
                            toastr.info("Data is Deleted");
                            GetBlogList();
                        }
                    }
                });

            }
        </script>
    }

</div>
<!-- end page content-->
